@model ShoppingMvc.Models.Country

@*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm("Create", "Country", new { area = "Admin" }, FormMethod.Post))
{
    <style type="text/css">
        .lable {
            margin-left: 50px;
        }
             .myvalidation {
    color: red;
        }
    </style>
    @Html.AntiForgeryToken()

    <div class="modal-dialog">
        <div class="modal-content">
            @Html.AntiForgeryToken()
            <div class="modal-header">

                <div class="alert alert-success" role="alert">
                    @if (Model.Id != 0)
                    {
                        <h4 class="modal-title" style="text-align: center">Edit Country</h4>
                    }
                    else
                    {
                        <h4 class="modal-title" style="text-align: center">Add Country</h4>
                    }


                </div>

            </div>
            <div class="modal-body" style="width:400px;height:200px;">
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <form role="form">

                    <div class="form-group lable">
                        <label for="recipient-name" class="control-label">Country Name:</label>


                        @Html.TextBoxFor(model => model.CountryName, new { @class = "form-control ", @style = "width: 60%; height:30px;" })
                        <br />
                        @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "myvalidation" })
                    </div>

                  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-default">Close</button>
                <button type="submit" class="btn btn-success">Save Country</button>
            </div>
        </div>
    </div>
}