@model IEnumerable<ShoppingMvc.Models.Country>
@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2>Country</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<link href="~/Scripts/notiflt.css" rel="stylesheet" />
<script src="~/Scripts/notifIt.js"></script>

<button class="btn btn-small btn-success" style="color:white;margin-bottom:10px" data-toggle="tooltip" data-placement="right" title="Edit" onclick="AddCountry()">Add Country</button>
<br />
<style type="text/css">
    body {
        /*background-color: transparent;*/
    }

    /*#recordId {
        color: white;
        background-color: transparent;
    }*/

    select option, option:checked {
        color: black;
        background-color: transparent !important;
    }

    #container {
        background: rgba(0,0,0,0.6);
        padding: 0px 60px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable();
       

        $('#recordId').css();
    });

</script>

<div class="row">

    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table style="width:400px" id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr>
                                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 70px;" aria-label="Rendering engine: activate to sort column ascending">
                                        Sr No
                                    </th>
                                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 100px;" aria-label="Rendering engine: activate to sort column ascending">
                                        CountryName
                                    </th>



                                    <th class="" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 200px;" aria-label="Rendering engine: activate to sort column ascending">
                                        Options
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int index = 0;}
                                @foreach (var item in Model)
        {
            index = index + 1;
                                <tr>


                                    <td><text>@index</text></td>

                                    <td class="">
                                        @Html.DisplayFor(modelItem => item.CountryName)
                                    </td>



                                    <td class="tooltip-demo">
                                        <button class="btn btn-small btn-success" style="color:white;" data-toggle="tooltip" data-placement="right" title="Edit" value="@item.Id" onclick="EditCountry(@item.Id)"> Edit</button>
                                        <button class="btn btn-small btn-success" style="color:white;" data-toggle="tooltip" data-placement="right" title="Delete" value="@item.Id" onclick="DeleteCountry(@item.Id)"> Delete</button>
                                    </td>

                                </tr>
        }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
@Scripts.Render("~/bundles/jquery")
<script>

    function DeleteCountry(id) {
        var id = id;
        var flag = confirm('Are you Sure want to delete this Country');

        if (flag) {
            debugger;
            $.ajax({
                url: '@Url.Action("Delete", "Country", new { area = "Admin" })',
                type: "POST",
                data: { id: id },
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Country", new { area = "Admin" })'

                },
                error: function (data) {


                }
            });
        }
    }

    function AddCountry() {
        debugger;
        $.ajax({
            url: '@Url.Action("Create", "Country", new { area = "Admin" })',
            type: "GET",

            success: function (data) {
                $('#modal-container').modal('show');
                $("#modal-container").empty();
                $("#modal-container").append(data);

            },
            error: function (data) {


            }
        });
    }

    function EditCountry(id) {
        debugger;
        $.ajax({
            url: '@Url.Action("Edit", "Country", new { area = "Admin" })',
            type: "GET",
            data: { id: id },
            success: function (data) {
                $('#modal-container').modal('show');
                $("#modal-container").empty();
                $("#modal-container").append(data);

            },
            error: function (data) {


            }
        });
    }
</script>

<script type="text/javascript">

    if ('@ViewBag.Status' != '') {
        debugger;

        if ('@ViewBag.Type' != '') {
            debugger;
            if ('@ViewBag.Type' == 'success') {
                debugger;
                notif({
                    msg: "<b>@ViewBag.Status",
                    type: "success"
                });
            } else {
                notif({
                    msg: "<b>@ViewBag.Status",
                    type: "error"
                });
            }
        }
    }

</script>
